body {
    background-color: black;color: rgb(63, 129, 43);
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: rgba(29, 7, 48, 0.432);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}
nav ul li a {
    background-color:rgb(212, 218, 207);
    color: rgb(121, 57, 57);
    padding: 6px 14px;
    text-decoration: none; 
    transition: 2s;
}
nav ul li a:hover{
    box-shadow: inset 0px 0px 25px indigo;
}
.titulo {
    text-align: center;
    font-size: 60px;
    color: chartreuse;
}
.paragrafo_inicial {
    text-align: center;
    font-size: 20px;
}
.Nome_sobre_mim {
    color: chartreuse;
    font-size: 30px;
}
.sobre_mim {
    padding: 100px;
}
.tilo_sobre_mim {
    text-align: center;
    font-size: 40px;
}
.foto_altor {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    border: solid chartreuse;
}
.container {
    display: flex;
    gap: 10px;
}
.tilo_projetos {
    color: chartreuse;
    text-align: center;
    font-size: 40px;      
}
.paragrafo_projetos {
    text-align: center;
}
.projetos {
  display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    object-fit: cover;
}
.projeto {
   text-align: center;
   
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
}
form {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

footer {
    text-align: center;
    justify-content: center;
    
}

button {
    cursor: pointer;
    transition: 2s;
}
button:hover{
    box-shadow: inset 0px 0px 25px indigo;
}
article{
    padding: 10px;
    margin: 10px;;
    gap: 8px;
}
article a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: chartreuse;   
    border-radius: 8px;
    text-decoration: none;
    border: solid rgb(15, 83, 31);
    
}