body {
    background-color: black;color: rgb(63, 129, 43);
}
.titulo_mensagem_de_inicio {
    text-align: center;
    font-size: 60px;
    color: chartreuse;
}
.paragrafo_inicial {
    text-align: center;
    font-size: 20px;
}
.Nome_do_texto_sobre_mim {
    color: chartreuse;
    font-size: 30px;
}
.sobre_mim {
    padding: 100px;
}
.tilo_sobre_mim {
    text-align: center;
    font-size: 40px;
}
.foto_do_altor_do_portifolio {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}
.container {
    display: flex;
    gap: 10px;
}
.projetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
.tilo_projetos {
    color: chartreuse;
    text-align: center;
    font-size: 40px;   
}
.paragrafo_inicial_projetos {
    text-align: center;
}
.projeto {
    text-align: center;

}
img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
}
form {
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer {
    text-align: center;
}
button {
    cursor: pointer;
}