* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black; color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
}
.header-right {
    display: flex;
    justify-content: space-evenly;
    gap: 18px;
}